.bg {
  background-image: url("./background1.jpg");
  height: 100vh;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainBody {
  padding-top: 80px;
}

.soundRule {
  color: whitesmoke;
  text-align: center;
  font-size: 68px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
}

.tagline {
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
}

.loginBox {
  margin-top: 30px;
  color: black;
  border-radius: 10px;
  padding: 3px 19px;
  text-align: center;
}

.signInButton {
  margin: 20px 20px 0px 10px;
}

.videoModal {
  margin-bottom: 10px;
  width: 480px;
  height: 270px;
}

.mainPageVideos {
  width: 320px;
  height: 180px;
  margin-bottom: 10px;
}

.personalProfile {
  background-color: #e0a800;
  margin: 0px -15px;
  padding: 10px 0px;
}

.category {
  background-color: #e4e8ec;
  margin: 20px 0px;
  border-radius: 5px;
}

button {
  padding: 6px;
  border-radius: 5px !important;
  border: 1px solid #e0a800;
  background-color: #e0a800;
}

.noteBox {
  border: 1px solid red;
  border-radius: 10px;
  background-color: rgb(248, 120, 120);
  color: white;
  padding-top: 10px;
}

.space {
  margin: 25px 0px;
}

@media (max-width: 380px) {
  .soundRule {
    font-size: 50px;
  }

  .tagline {
    font-size: 15px;
  }

  .loginBox img {
    height: 250px;
  }

  .videoModal {
    width: 272px;
    height: 153px;
  }
}

@media (min-width: 380px) and (max-width: 425px) {
  .soundRule {
    font-size: 50px;
  }

  .tagline {
    font-size: 16px;
  }

  .loginBox img {
    height: 390px;
  }

  .videoModal {
    width: 336px;
    height: 189px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  .bg {
    background-image: url("./background1.jpg");
    height: 210vh;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .videoModal {
    width: 320px;
    height: 180px;
  }

  .loginBox img {
    height: 390px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .bg {
    background-image: url("./background1.jpg");
    height: 200vh;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .loginBox img {
    height: 340px;
  }

  .videoModal {
    width: 432px;
    height: 243px;
  }
}
